body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #ffffff;
    padding: 40px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  #name {
    color: #8d0e0c;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-top: 20px;
    justify-content: inherit;
  }

  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .game-container {
    margin-top: 20px;
  }
  
  #guessInput {
    width: 60%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  #feedback {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  #previousGuesses {
    margin-top: 10px;
    color: #666;
  }
  
  #guessButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #resetButton {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #giveupButton {
    background-color: #541915;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }